@model MAInformation.Application.Responses.PagedResponse<MAInformation.Application.DataTransfer.GetActorDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().HomeTown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTown)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                    <form asp-action="Delete">
                        <input type="hidden" name="Id" value="@Html.DisplayFor(modelItem => item.Id)" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>

                </td>
            </tr>
        }

    </tbody>
</table>
@if (TempData["DeleteError"] != null)
{
    <h1 class="alert-danger">
        @TempData["DeleteError"]
    </h1>
}