@model MAInformation.Application.DataTransfer.GetActorDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GetActorDTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTown)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeTown)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
    </dl>
</div>

<h1 class="text-center">Movies </h1>
@if (Model.Movies.Count > 0)
{
    <table class="table table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Movies.FirstOrDefault().Title)</th>
            <th>@Html.DisplayNameFor(model => model.Movies.FirstOrDefault().ImdbRating)</th>
            <th>@Html.DisplayNameFor(model => model.Movies.FirstOrDefault().NameInMovie)</th>
            <th>@Html.DisplayNameFor(model => model.Movies.FirstOrDefault().PremiereDate)</th>
            <th>@Html.DisplayNameFor(model => model.Movies.FirstOrDefault().Director)</th>
        </tr>

        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.ImdbRating)</td>
                <td>@Html.DisplayFor(modelItem => item.NameInMovie)</td>
                <td>@Html.DisplayFor(modelItem => item.PremiereDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Director)</td>
            </tr>
        }
    </table>
} else
{
    <h1 class="text-center">No movies</h1>
}


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
