@model MAInformation.Application.Responses.PagedResponse<MAInformation.Application.DataTransfer.GetMovieDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().ImdbRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Duration) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().PremiereDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImdbRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration) min
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremiereDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                <form asp-action="Delete">
                    <input type="hidden" value="@Html.DisplayFor(modelItem => item.Id)" name="id" /> 
                     <input type="submit" value="Delete" class="btn btn-danger" /> 
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
